.title {
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 30px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../images/MapaTierraMedia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}